<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <img
        src="{{url_for('static', filename='img/myprofkz.png')}}"
        height="64"
        alt="MyProf Logo"
        loading="lazy"
        style="margin-top: -1px"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Главная</a>
        </li>
      </ul>
      <!-- Left links -->
      {% if user == "" %}
      <div class="d-flex align-items-center">
        <button
          type="button"
          class="btn btn-link px-3 me-2"
          data-mdb-toggle="modal"
          data-mdb-target="#exampleModal"
        >
          Войти
        </button>
        <button
          type="button"
          class="btn btn-primary me-3"
          data-mdb-toggle="modal"
          data-mdb-target="#exampleModal2"
        >
          Зарегистрироваться
        </button>
        <!--<a
            class="btn btn-dark px-3"
            href="https://github.com/mdbootstrap/mdb-ui-kit"
            role="button"
            ><i class="fab fa-github"></i
          ></a> -->
      </div>
      {% else %}

      <div class="nav-item me-3 me-lg-0 dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-user"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" href="#">{{user.FIO}}</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Личный кабинет</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="/logout">Выйти</a>
          </li>
        </ul>
      </div>

      {% endif %}
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Войти</h5>
              <button
                type="button"
                class="btn-close"
                data-mdb-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form action="/login" method="post">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input
                    type="username"
                    id="form1Example1"
                    class="form-control"
                    name="username"
                  />
                  <label class="form-label" for="form1Example1"
                    >Ваш имя пользователя</label
                  >
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input
                    type="password"
                    id="form1Example2"
                    class="form-control"
                    name="password"
                  />
                  <label class="form-label" for="form1Example2">Пароль</label>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="form1Example3"
                        checked
                      />
                      <label class="form-check-label" for="form1Example3">
                        Запомнить меня
                      </label>
                    </div>
                  </div>

                  <div class="col">
                    <!-- Simple link -->
                    <a href="#!">Забыли пароль?</a>
                  </div>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block">
                  Войти
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="exampleModal2"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Зарегистрироваться
              </h5>
              <button
                type="button"
                class="btn-close"
                data-mdb-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form action="/register" method="post">
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form3Example1"
                        class="form-control"
                        name="name"
                      />
                      <label class="form-label" for="form3Example1">Имя</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form3Example2"
                        class="form-control"
                        name="lastname"
                      />
                      <label class="form-label" for="form3Example2"
                        >Фамилия</label
                      >
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input
                        type="text"
                        id="form3Example22"
                        class="form-control"
                        name="surname"
                      />
                      <label class="form-label" for="form3Example22"
                        >Отчество</label
                      >
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="phone"
                    id="form3Example5"
                    class="form-control"
                    name="phone"
                  />
                  <label class="form-label" for="form3Example5"
                    >Ваш номер телефона</label
                  >
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input
                    type="email"
                    id="form3Example3"
                    class="form-control"
                    name="email"
                  />
                  <label class="form-label" for="form3Example3"
                    >Ваша электронная почта</label
                  >
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="username"
                    id="form3Example3"
                    class="form-control"
                    name="username"
                  />
                  <label class="form-label" for="form3Example3"
                    >Ваше имя пользователя</label
                  >
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input
                    type="password"
                    id="form3Example4"
                    class="form-control"
                    name="password"
                  />
                  <label class="form-label" for="form3Example4">Пароль</label>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="form2Example33"
                    checked
                  />
                  <label class="form-check-label" for="form2Example33">
                    Подписаться на наши обновления
                  </label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Зарегистрироваться
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
